$secondcolor: #F4F2ED;
$primaryColor:#154100;
$buttonColor: #f8ba8c;

@mixin default{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

@mixin linkColor{
    color:  $primaryColor;
}
@mixin  text-font {
    font-family: 'Montserrat', sans-serif;
}
.slider_action{
    @include text-font();
    color: white;
    position: absolute;
    bottom: 100px;
    margin-left: 50px;

    .slide_title{
     font-size: 3.5vw;
     font-weight: bold;
    }
    .slide_low_title{
      font-size: 2vw;
      margin-bottom: 10px;
    }
}
.slider_image{
    .my_link{
    background-color: $buttonColor;
    border-radius: 5px;
    display: flex;
    width: 10vw;
    justify-content: center;
    align-items: center;
    padding: 10px;
    a{
        color:$primaryColor;
        font-size: 1.5vw; 
        
    }
    }
}

@media screen and (max-width: 768px){
    .slider_action{
        .slide_title{
             font-size: 6vw;
        }
        .slide_low_title{
             font-size: 3vw;
        }
    }

    .slider_image{
        .my_link{
            width: 25vw;
            a{
                 font-size: 3vw;
            }
        }
    }
}
@media screen and (max-width: 576px){
    .slider_action{
        .slide_title{
             font-size: 5vw;
        }
        .slide_low_title{
             font-size: 3vw;
        }
    }

    .slider_image{
        .my_link{
            width: 25vw;
            a{
                 font-size: 3vw;
            }
        }
    }
}