$secondcolor: #F4F2ED;
$primaryColor:#154100;

@mixin default{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

@mixin linkColor{
    color:  $primaryColor;
}

@mixin  text-font {
    font-family: 'Montserrat', sans-serif;
}
.shop_container{
    width: 80%;
    margin: auto;
     .shop_left{
        .filters{
            display: none;         
        }
    }
}
.shop_options{
    padding-top: 10px;
    .shop_grids{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        .grid_btn{
            font-size: 20px;
            margin-left: 10px;
        }
    }
}

.load_more_container{
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;        
    margin: 20px 0px 20px 0px;
    span{
        
        box-shadow: 1px 1px 10px #999999;
        box-sizing: border-box;

        margin: auto;
        padding: 20px;

        width: 150px;
        height: 50px;
        background-color: $primaryColor;
    
        display: flex;
        align-items: center;
        justify-content: center;
       color: white;
    }
}

@media screen and (max-width: 992px){
    .shop_container{
        .shop_wrapper{
            width: 100%;
            .shop_left{
                .checkbox_wrapper{
                    display: none;
                }
                .filters{
                    display: inline;
                    display:flex;
                    width: 100%;
                    .collape_items_wrapper{
                        width: 100%;
                        background: white;
                        ul{
                            border-bottom: none !important;
                            .MuiCollapse-container{
                                .MuiCollapse-wrapper{
                                    .MuiCollapse-wrapperInner{
                                        .MuiList-root{
                                            display: flex;
                                            flex-direction: column;
                                            .MuiListItemText-root{
                                                span{font-size: 2vw;}
                                            }
                                        }
                                        label{
                                            .MuiTypography-root{
                                                font-size: 2vw;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
               
            }
        }
    }
}